body {
  font-family: "Montserrat", sans-serif;
  background-color: #e7f6ff;
}

body h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

body h2 {
  font-weight: 700;
}

body h3 {
  color: #9d9d9d;
}

/* ===== */
.opacity {
  position: fixed;
  transition: 0.5s;
  top: 0;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100%;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
}

.opacity.active {
  visibility: visible;
  opacity: 1;
}

/* Часто используемые классы*/
.green-btn {
  text-transform: uppercase;
  background-color: #a5d364;
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s;
}

.green-btn:hover {
  transform: scale(1.17);
}

.green-btn:active {
  background-color: #648537;
}
/* == */
.price__block {
  display: flex;
  column-gap: 5px;
  font-weight: 600;
}
/* == */
.bckg-image {
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  transition: 0.3s;
}

.bckg-image:hover {
  transform: scale(1.23);
}
/* ===== */

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 85px;
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 20px;
}
/* ===== */
#header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  column-gap: 16px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__text-active {
  display: none;
}

.navigation__btn {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

/* == */
.cart__block {
  display: flex;
  column-gap: 10px;
}

.cart {
  background-image: url(icons/cart.svg);
}

.cart__block .price__block {
  color: #5c5c5c;
}
/* == */
.favorites {
  background-image: url(icons/favorites.svg);
}
/* == */
.profile {
  background-image: url(icons/profile.svg);
}

/* ===== */
#main {
  margin-top: 85px;
}

#main {
}

.main-products {
  display: flex;
  justify-content: center;
  row-gap: 15px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px;
  padding: 2.5px;
  background-color: #f3eee8;
  flex-wrap: wrap;
}

.main-products__text div {
  margin-left: 61px;
}

.main-products__text h2 {
  font-size: 38px;
  margin: 30px 0 10px 0;
}
.main-products__text span {
  color: #8bb43c;
}

.main-products_btn {
  width: 177px;
  height: 47px;
  border-radius: 110px;
}
/* == */
.products__block {
  margin-top: 40px;
}

.products__block h2 {
  font-size: 32px;
}
/* == */
.card__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 40px;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 30px 25px;
  border-radius: 40px;
  transition: 0.3s;
  background-color: #ffffff;
  border: 2px solid rgb(224, 224, 224);
}

.card:hover {
  box-shadow: 0px 7px 4px 2.5px rgba(3, 245, 43, 0.822);
  transform: translateY(-10px);
}

.card:active {
  box-shadow: 0px 7px 4px 2.5px rgba(143, 247, 6, 0.6);
  transform: translateY(0);
}

.card img {
  max-width: 140px;
}

.card__title {
  max-width: 165px;
  font-size: 14px;
}
/* == */
.card > div {
  display: flex;
  align-items: center;
  column-gap: 43px;
}

.card > div > div > p {
  color: #bdbdbd;
  margin: 7px 0 3px 0;
}
/* == */
.add-to-cart {
  background-image: url(icons/add-to_cart.svg);
  background-position: center;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 3.5px;
}

.add-to-cart:hover {
  border-radius: 50%;
  background-color: #bbbbbb;
}

.add-to-cart:active {
  background-color: #535353;
}

.card.active .add-to-cart {
  background-image: url(icons/check-mark.svg);
}

/* ===== */
/* ===== */
/* ===== */
.basket__block {
  position: fixed;
  top: 0;
  right: 10px;
  width: 450px;
  height: 100%;
  background-color: #ffffff;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 5px;
  padding: 30px;
  z-index: 5;
  right: -100%;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.basket__block.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.basket__block h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.basket__products {
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
  row-gap: 30px;
  width: 100%;
  height: 73%;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  border: 2px solid #dbdbdb;
}

.basket__products.active {
  visibility: visible;
  opacity: 1;
}

.basket__prise {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 0 15px;
  visibility: hidden;
  opacity: 0;
}

.basket__prise.active {
  visibility: visible;
  opacity: 1;
}
/* === */
.cost__block,
.tax__block {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.cost__block div,
.tax__block div {
  display: flex;
  column-gap: 5px;
}
/* === */
.place-order-btn {
  margin: 0 auto;
  border-radius: 20px;
  width: 90%;
  height: 55px;
  transition: 0.3s;
  margin-top: 20px;
  background-color: #9dd458;
  color: #ffffff;
  position: relative;
}

.place-order-btn:hover {
  transform: scale(1.06);
}

.place-order-btn:active {
  background-color: #648537;
}

.place-order-btn::after {
  content: url(icons/arrow-right.svg);
  position: absolute;
  margin: 1px 0 0 10px;
  opacity: 0;
  transition: 0.1s;
}

.place-order-btn:hover::after {
  margin-left: 30px;
  opacity: 1;
}

/* === */
.basket-empty {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.basket-empty.active {
  opacity: 0;
  visibility: hidden;
}

.basket-empty img {
  margin-bottom: 15px;
  width: 120px;
  height: 120px;
}

.basket-empty p {
  width: 285px;
  text-align: center;
  color: #949494;
}

.go-back-btn {
  position: relative;
  margin-top: 40px;
  width: 255px;
  height: 55px;
  background-color: #9dd458;
  color: #ffffff;
  font-weight: 600;
  border-radius: 15px;
  transition: 0.3s;
}

.go-back-btn:hover {
  transform: scale(1.06);
}

.go-back-btn:active {
  background-color: #648537;
}

.go-back-btn::before {
  position: absolute;
  content: url(icons/arrow-right.svg);
  transform: rotate(180deg);
  margin-top: -1px;
  opacity: 0;
  transition: 0.1s;
  left: 50px;
}

.go-back-btn:hover:before {
  opacity: 1;
  left: 30px;
}
/* ========== */
.basket__products .card {
  border: none;
  padding: 0;
}

.basket__products .card > div > img {
  width: 100px;
  height: 90px;
}

.basket__products .card > div {
  display: flex;
  column-gap: 20px;
}

.basket__products .card > div > div > p {
  margin: 0 0 5px 0;
  color: #000000;
}

.basket__products .card:hover,
.basket__products .card:active {
  transform: translateY(0);
  box-shadow: none;
}

.delete-card-btn {
  background-image: url(icons/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  border: 2px solid #c9c9c9;
  border-radius: 5px;
}

.delete-card-btn:hover {
  background-color: #b6b6b6;
}

.delete-card-btn:active {
  background-color: #4b4b4b;
}

/* === */
